autopep8==1.2.4
backports.shutil-get-terminal-size==1.0.0
click==6.6
colorama==0.3.7
configparser==3.5.0
decorator==4.0.10
enum34==1.1.6
flake8==3.0.4
htmlmin==0.1.10
importmagic==0.1.7
ipython==5.1.0
ipython-genutils==0.1.0
jedi==0.9.0
Jinja2==2.8
Markdown==2.6.7
MarkupSafe==0.23
mccabe==0.5.2
pathlib2==2.1.0
pep8==1.7.0
pexpect==4.2.1
pickleshare==0.7.4
prompt-toolkit==1.0.9
ptyprocess==0.5.1
py==1.4.31
pycodestyle==2.0.0
pyflakes==1.2.3
Pygments==2.7.4
pytest==3.0.4
simplegeneric==0.8.1
six==1.10.0
traitlets==4.3.1
wcwidth==0.1.7
yapf==0.13.2
